<div class="row">
  <div class="col-md-12">
    <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
      <div class="botones-contenedor">
        <div class="izquierda">
          <button style="margin-left: 30px; margin-top: 10px;" class="btn btn-success" (click)="goToTarea()">
            Agregar Tarea
          </button>
          <button class="btn btn-success" style="margin-left: 30px; margin-top: 10px;">
            Total Tareas Asignadas
          </button>
        </div>
        <div class="derecha">
          <input type="text" class="form-control" id="filtro" [formControl]="filtro" [value]="filtro.value" placeholder="Nombre Tarea">
          <button class="page-link" (click)="buscar()">Buscar</button>
        </div>
      </div>
      <table class="table manage-candidates-top mb-0">
        <thead>
          <tr>
            <th>Lista de Tareas</th>
            <th>Fecha Inicio</th>
            <th>Fecha Término</th>
            <th>Hora Inicio</th>
            <th>Hora Término</th>
            <th class="text-center">Estado</th>
            <th class="action text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <!--ngFor para lista de Tareas -->
          <tr class="candidates-list" *ngFor="let tarea of listaPaginacion">
            <td class="title">
              <h5 class="mb-0">{{ tarea.nombreTarea }}</h5>
            </td>
            <td>
              <label>{{ tarea.fechainicioTarea | date: 'dd-MM-yyyy'}}</label>
            </td>
            <td>
              <label>{{ tarea.fechaterminoTarea | date: 'dd-MM-yyyy' }}</label>
            </td>
            <td>
              <label>{{ tarea.horainicioTarea.toString().substring(11,16) }}</label>
            </td>
            <td>
              <label>{{ tarea.horaterminoTarea.toString().substring(11,16) }}</label>
            </td>
            <td>
              {{ estadoDescripcion[tarea.estadoTarea] }}
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <ng-container>
                  <button type="button" class="btn btn-outline-dark btn-sm">
                    editar
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-sm">
                    eliminar
                  </button>
                  <button type="button" class="btn btn-outline-success btn-sm" (click)="seleccionaTarea(tarea.id)">
                    asignar
                  </button>
                  <button type="button" class="btn btn-outline-dark btn-sm" (click)="calificarTarea(tarea.id)" *ngIf="tarea.estadoTarea == 3 || tarea.estadoTarea == 4">
                    calificar
                  </button>
                </ng-container>
                <button type="button" class="btn btn-outline-warning btn-sm" (click)="verTarea(tarea.id)">
                  ver
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="dropdown dropright">
        Mostrando 
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ numeroPorPaginas }}
        </button> por página. Total: {{ totalElementos }}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item" (click)="cambiarNumeroPorPaginas(numero)" *ngFor="let numero of opcionElementosPorPagina">{{ numero }}</button>
        </div>
      </div>
      <div class="text-center mt-3 mt-sm-3">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item" [class.disabled]="paginaActual === 1">
            <button class="page-link" (click)="atras()">Prev</button>
          </li>
          <ng-container *ngFor="let paginaIndex of totalPaginas">
            <li class="page-item" [class.active]="paginaActual === paginaIndex" aria-current="page">
              <button class="page-link" (click)="cambiarPagina(paginaIndex)" *ngIf="seMuestra(paginaIndex)">
                {{ paginaIndex }}
              </button>
            </li>
          </ng-container>
          <li class="page-item" [class.disabled]="paginaActual === ultimaPagina || ultimaPagina === 0">
            <button class="page-link" (click)="siguiente()">Siguiente</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
